.found{
    width: 1450px;
    height: 600px;
    text-align: center;
    margin: 30px auto;
    border: .2px solid rgb(214, 214, 214);
    
    

    h1{
        padding-top: 170px;
        font-size: 60px;
        color: red;
    }
    h2{
        font-size: 50px;
        color: red;
    }
    h3{
        font-size: 40px;
        color: red;
    }
    h4{
        font-size: 30px;
        color: red;
    }
}