.ShopCart{
    width: 1450px;
    min-height: 480px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .product{
        width: 900px;
        height: 480px;
        .text{
            width: 100%;
            height: 50px;
            display: flex;
            border-bottom: 1px solid rgb(197, 195, 195);
            margin-top: 20px;
            align-items: center;
            .products{
                width: 390px;
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 20px;
                padding-left: 10px;
            }
            .price{
                width: 160px;
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 20px;
                padding-left: 10px;
            }
            .quantity{
                width: 170px;
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 20px;
                padding-left: 10px;
            }
            .totals{
                width: 180px;
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 20px;
                padding-left: 10px;
            }

        }
        .productbox{
            width: 100%;
            height: 100px;
            background-color: rgb(243, 243, 243);
            margin: 5px auto;
            display: flex;
            align-items: center;
            .products1{
                width: 390px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .img{
                    width: 100px;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        padding: 2px;
                        mix-blend-mode: darken;
                    }
                }
                .narx{
                    width: 290px;
                    height: 100%;
                    text-align: center;
                    h4{
                        padding-top: 27px;
                    }
                    p{
                        padding-top: 5px;
                    }
                }
            }
            .price1{
                width: 160px;
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 10px;
                font-size: 18px;
            }
            .quantity1{
                width: 170px;
                height: 100%;
                display: flex;
                align-items: center;
                gap: 10px;
              button{
                padding: 5px 8px;
                border-radius: 50%;
                font-size: 20px;
                border: none !important;
                background-color: #46A358;
                color: white;
                
                &:hover{
                    background-color: #74b781;
                    color: white;
                }
              }
              p{
                font-size: 20px;
              }
            }
            .totals1{
                width: 130px ;
                height: 100%;
                display: flex;
                align-items: center;
                color: green;
                font-size: 18px;
                font-weight: 600;
            }
            .delete{
                width: 50px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: red;
                font-size: 25px;
                &:hover{
                    color: rgb(255, 149, 0);
                }
            }
        }
    }
    .total{
        width: 450px;
        height: 480px;

        .cart{
            width: 100%;
            height: 50px;
            display: flex;
            border-bottom: 1px solid rgb(197, 195, 195);
            margin-top: 20px;
            align-items: center;
            padding-left: 10px;

            
        }
        .input{
            width: 100%;
            height: 70px;
            p{
                padding: 10px 0 2px 12px;
            }
            .bos{
                width: 400px;
                height: 35px;
                margin-left: 10px;
                display: flex;
                input{
                    width: 80%;
                    height: 100%;
                    outline: none;
                    border: .2px solid rgb(205, 205, 205);
                    font-size: 15px;
                    padding: 2px 5px;
                }
                button{
                    width: 20%;
                    height: 100%;
                    border: none;
                    background-color: #46A358;
                    color: white;
                    &:hover{
                        background-color: #74b781;
                        color: white;
                    }
                }
            }
        }
        .narx1{
            width: 100%;
            height: 40px;
            margin: 10px auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;

            .son{
                color: #46A358;
            }
        }
        .chek{
            width: 100%;
            height: 100px;
            text-align: center;
            margin-top: 20px;
            button{
            width: 95%;
            height: 50px;
            margin-top: 10px;
            background-color: #46A358;
            color: white;
            font-size: 15px;
            font-size: 600;
            border: none;
            border-radius: 5px;
            &:hover{
                background-color: #74b781;
                color: white;
            }
            }
            p{
                padding-top: 10px;
                a{
                    color: green;
                &:hover{
                    color: rgb(255, 0, 0);
                }}
            }
        }
    }
    
}



@media screen and (min-width:0) and (max-width:390px){
    .ShopCart{
        width: 380px;
        height: auto ;
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .product{
            width: 380px;
            height: auto;
            .text{
                width: 100%;
                height: 50px;
                display: none;
                border-bottom: 1px solid rgb(197, 195, 195);
                margin-top: 20px;
                align-items: center;
                .products{
                    width: 390px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    padding-left: 10px;
                }
                .price{
                    width: 160px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    padding-left: 10px;
                }
                .quantity{
                    width: 170px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    padding-left: 10px;
                }
                .totals{
                    width: 180px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    padding-left: 10px;
                }
    
            }
            .productbox{
                width: 360px;
                height: 60px;
                background-color: rgb(243, 243, 243);
                margin: 5px auto;
                display: flex;
                align-items: center;
                border-radius: 10px;
                .products1{
                    width: 150px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .img{
                        width: 100px;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            padding: 2px;
                            mix-blend-mode: darken;
                           
                        }
                    }
                    .narx{
                        width: 210px;
                        height: 100%;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        h4{
                            padding-top: 0px;
                            font-size: 12px;
                        }
                        p{
                            padding-top: 5px;
                            display: none;
                        }
                    }
                }
                .price1{
                    width: 100px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 0px;
                    font-size: 12px;
                  
                }
                .quantity1{
                    width: 100px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                  button{
                    padding: 2px 3px;
                    border-radius: 48%;
                    font-size: 10px;
                    border: none !important;
                    background-color: #46A358;
                    color: white;
                    
                    &:hover{
                        background-color: #74b781;
                        color: white;
                    }
                  }
                  p{
                    font-size: 12px;
                  }
                }
                .totals1{
                    width: 50px ;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    color: green;
                    font-size: 12px;
                    font-weight: 600;
                }
                .delete{
                    width: 50px;
                    height: 100%;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    color: red;
                    font-size: 25px;
                    &:hover{
                        color: rgb(255, 149, 0);
                    }
                }
            }
        }
        .total{
            width: 360px;
            height: 480px;
            margin: 0 auto;
    
            .cart{
                width: 100%;
                height: 50px;
                display: flex;
                border-bottom: 1px solid rgb(197, 195, 195);
                margin: 10px auto;
                align-items: center;
                padding-left: 10px;
    
                
            }
            .input{
                width: 360px;
                height: 70px;
                margin: 20px auto;
                p{
                    padding: 10px 10px;
                }
                .bos{
                    width: 320px;
                    height: 35px;
                    margin-left: 10px;
                    display: flex;
                    input{
                        width: 80%;
                        height: 100%;
                        outline: none;
                        border: .2px solid rgb(205, 205, 205);
                        font-size: 15px;
                        padding: 2px 5px;
                    }
                    button{
                        width: 20%;
                        height: 100%;
                        border: none;
                        background-color: #46A358;
                        color: white;
                        &:hover{
                            background-color: #74b781;
                            color: white;
                        }
                    }
                }
            }
            .narx1{
                width: 100%;
                height: 40px;
                margin: 10px auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 20px;
    
                .son{
                    color: #46A358;
                }
            }
            .chek{
                width: 100%;
                height: 100px;
                text-align: center;
                margin-top: 20px;
                button{
                width: 95%;
                height: 50px;
                margin-top: 10px;
                background-color: #46A358;
                color: white;
                font-size: 15px;
                font-size: 600;
                border: none;
                border-radius: 5px;
                &:hover{
                    background-color: #74b781;
                    color: white;
                }
                }
                p{
                    padding-top: 10px;
                    a{
                        color: green;
                    &:hover{
                        color: rgb(255, 0, 0);
                    }}
                }
            }
        }
        
    }
}


